
ion-header {
 
 
}

ion-toolbar {

}

ion-title {
  font-size: 20px;
  
}

ion-content {
  padding-top: 1px;
  --background: linear- ;
  
}

.main {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  background-color: #0093E9;
  background-color: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
   
}

.city {
  
  display: block;
  font-size: 2.5em;
  font-weight: bold;
  padding-top: 0.2em;
}

.date {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0;
}

.icon {
  width: 100px;
  height: 100px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.descricao {
  display: block;
  font-size: 3em;
  font-weight: bold;
  padding-top: 0.2em;
}

.temperatura {
  display: block;
  font-size: 5em;
  font-weight: bold;
  padding-top: 1em;
}

ion-grid {
  margin-top: 30px;
  
}

.dia {
  text-align: center;
  font-size: 16px;
}

.precipitacao {
  text-align: center;
  font-size: 16px;
}

.icon-sm {
  width: 30px;
  height: 30px;
  margin-bottom: 30px;
}

.hi-sm {
  text-align: center;
  font-size: 14px;
  margin-bottom: px;
}

.lo-sm {
  
  text-align: center;
  font-size: 14px;
}
